{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "globals": {
    "$": true,
    "brackets": true,
    "define": true
  },
  "env": {
    "node": true
  },
  "plugins": [
    "node"
  ],
  "rules": {
    "no-console": "off"
  }
}